.venv
/data/nycparking2025.csv
/data/fines_extracted.csv
/data/parking_violations_cleaned.csv
.vscode
/data/parking_violations_final.csv
holdingcode.txt
/data/nyc_weather_daily.csv
/data/parking_violations_with_weather.csv

